*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/*Navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.navbar h1{
    margin-left: 35px;
    font-weight: 600;
    font-size: 35px;
}
.button{
    font-size: 20px;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 2px 6px black;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.button:hover{
    background-color: black;
    color: white;
}
hr{
    margin-top: 10px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/*Form*/
.form-box{
    width: 400px;
    height: 400px;
    margin: 0 0 0 80px;

}
.form-member{
    font-size: 25px;
    justify-content: space-between;
    display: flex;
    padding-top: 50px;
}
.form-member input, select{
    width: 240px;
    font-size: 16px;
}
/* Dynamic Form */
.fieldbox{
    display: none;
    justify-content: space-between;
    font-size:20px
}
.fieldbox p{
    margin-top: 20px;
    color: red;
}
#Furniture-f label+input{
    margin-top:20px;
}
.dynamic{
    width:380px;
    height:400px;
    margin: 0 0 0 80px;
}
.dynamic input{
    width: 240px;
    height: 22px;
}
/* Product List */
.grid-container {
    display: grid;
    gap: 80px;
    grid-template-columns: 20% 20% 20% 20%;
    padding: 10px;
    
  }
  .grid-container input{
    float: left;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 50px 30px 50px 30px;
    font-size: 30px;
    text-align: center;
    font-size: 25px;
  }